.skill{
    /* background: linear-gradient(180deg,rgb(255 157 0 / 60%),rgb(31 30 28 / 60%) 67.59%); */
    border-width: 4px;
    border-style: solid;
  border-radius: 50px 50px 0 0 !important;
  
}
.skill1{
    border-image: 
    linear-gradient(
      to bottom,rgb(255 157 0 / 60%), 
      rgba(0, 0, 0, 0)
    ) 1
}
.skill2{
    border-image: 
    linear-gradient(
      to bottom,rgb(0 157 255 / 60%),
      rgba(0, 0, 0, 0)
    ) 1
}
.skill3{
    border-image: 
    linear-gradient(
      to bottom,rgb(0 255 115 / 60%),
      rgba(0, 0, 0, 0)
    ) 1
}
.skill4{
    border-image: 
    linear-gradient(
      to bottom,rgba(255, 70, 70, 0.514),
      rgba(0, 0, 0, 0)
    ) 1
}
.skill5{
    border-image: 
    linear-gradient(
      to bottom,rgba(153, 0, 255, 0.539),
      rgba(0, 0, 0, 0)
    ) 1
}
.skill6{
    border-image: 
    linear-gradient(
      to bottom,rgba(255, 0, 238, 0.5), 
      rgba(0, 0, 0, 0)
    ) 1
}
.left-side {
  background: linear-gradient(rgb(46, 44, 31), rgb(27, 27, 25));
}






/* default */

  .default-btn{
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
  }

  .default-btn {
    color: #fff;
    border: 3px solid #FFB400;
    background-image: -webkit-linear-gradient(30deg, #FFB400 50%, transparent 50%);
    background-image: linear-gradient(30deg, #FFB400 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 450ms ease-in-out;
    transition: background 450ms ease-in-out;
  }
  .default-btn:hover {
    background-position: 100%;
    color: #FFB400;
  }
  
